   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

   body {
       font-family: 'Inter', sans-serif;
       color: white;
   }

   .material-symbols-outlined {
       font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
   }

   :root {
       --primary-color: #1a3636;
   }

   * {
       margin: 0;
       padding: 0;
   }

   .time-section {
       display: flex;
       justify-content: space-between;
       background-color: var(--primary-color);
       padding: 24px;
   }

   .input-section {
       display: flex;
       justify-content: space-between;
       padding: 24px;
       gap: 30px;
   }

   .time-container {
       display: flex;
       align-items: center;
       gap: 24px;
   }

   .todo-input {
       font-family: inherit;
       font-size: 18px;
       padding: 12px;
       border: 2px solid var(--primary-color);
       border-radius: 8px;
       width: 150px;
   }

   .alarm-icon {
       width: 30px;
   }

   .todo_name_input {
       flex: 1;
   }

   .btn {
       border: none;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 12px;
       background-color: #1a3636;
       border-radius: 12px;
       width: 150px;
       color: white;
   }

   .todo-section {
       display: flex;
       color: black;
       margin-top: 40px;
   }

   ul {
       list-style: none;
       display: flex;
       flex-direction: column;
       gap: 32px;
       /* background-color: brown; */
       padding: 24px;
   }

   li {
       display: flex;
       justify-content: space-between;
       border-bottom: 2px solid #ddd;
       padding-bottom: 18px;
   }

   .todo-details {
       display: flex;
       flex-direction: column;
       padding: 8px;
       /* background-color: aqua; */
       gap: 14px;
       align-items: start;
   }

   .todo-name {
       font-size: 26px;
       font-weight: 600;
   }

   .pending-todos-container {
       width: 50%;
       padding: 24px;
       border-right: 4px solid #ddd;
   }

   .completed-todos-container {
       width: 50%;
       padding: 24px;
   }

   .date-time-container p {
       font-size: 12px;
       color: #361a2f;
   }

   .todo-btn {
       display: flex;
       align-items: center;
       gap: 4px;
       padding: 4px 8px;
       border-radius: 6px;
       border: none;
       color: white;
       font-size: 16px;
   }

   .btn-container {
       display: flex;
       gap: 24px;
   }

   .todo-btn-done {
       background-color: #e4f7e4;
       color: rgb(0, 18, 0);
   }

   .todo-btn-remove {
       color: red;
       background-color: rgb(247, 210, 210);
   }

   .priority-level {
       width: 25px;
       height: 25px;
       border-radius: 50%;
   }

   .todo-name-container {
       display: flex;
       align-items: center;
       gap: 20px;
       flex-direction: row-reverse;
   }

   .priority-level.high {
       background-color: red;
   }

   .priority-level.medium {
       background-color: greenyellow;
   }

   .priority-level.low {
       background-color: #1a3636;
   }